{%extends 'base.html'%}
{%block content%}
    <div id="hero" data-w-id="61657da9-ce80-0dc6-2e0b-f3b53bf75c96" class="c-norm c-homehero theme-white">
        <div class="c-con c-homehero_con" >
            <div class="c-hero_wrap cc-home" >
                <div data-w-id="98d482a0-2b61-147a-ba69-b42dea6affb1"
                    style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                    class="c-herohead_wrap">
                    <h1 class="c-hero_head">Make</h1>
                    <div class="c-head_div">
                        <h1 class="c-hero_head cc-black">Friends</h1>
                    </div>  
                </div>
                <h3 class="c-expert_par">Who Inspires</h3>
            </div>

            <div class="c-hero_wrap cc-home" style="align-items: end; width: 100%;">
                <div data-w-id="98d482a0-2b61-147a-ba69-b42dea6affb1"
                    style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                    class="c-herohead_wrap" >
                    <h1 class="c-hero_head">Be a</h1>
                    <div class="c-head_div">
                        <h1 class="c-hero_head cc-black">Friend</h1>
                    </div>  
                </div>
                <h3 class="c-expert_par">Who Inspires</h3>
            </div>

            <div class="c-homehero_subhead" data-ix="scroll">WITH NOTO </div>
            <!-- <p class="c-homehero_par" data-ix="scroll">NOTO empowers individuals to forge meaningful connections and build vibrant communities, inspiring a more interconnected and dynamic world.</p> -->
        </div>
        <div class="c-homebg_wrap">
            <div style="-webkit-transform:translate3d(0, 0vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="c-bg_div cc-1"></div>
            <div style="-webkit-transform:translate3d(0, 50vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="c-bg_div cc-2"></div>
            <div style="-webkit-transform:translate3d(0, 5vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 5vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 5vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 5vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="c-bg_div cc-3"></div>
            <div class="c-bg_div cc-4"></div>
            <div style="-webkit-transform:translate3d(0, 70vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 70vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 70vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 70vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="c-bg_div cc-5"></div>
            <div style="-webkit-transform:translate3d(0, 60vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="c-bg_div cc-6"></div>
            <div style="-webkit-transform:translate3d(0, 80vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="c-bg_div cc-7"></div>
            <div style="-webkit-transform:translate3d(0, 20vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="c-bg_div cc-8"></div>
        </div>
    </div>

    <div class="white-bg">
        <div data-w-id="c797a2b7-0df1-a772-fb95-7b0d3c5cf910" class="c-norm c-scroll theme-dark">
            <div class="c-scroll_wrap">
                <div class="c-scroll_con">
                    <div class="c-scroll_item">
                        <div class="c-con c-expert">
                            <div class="c-expert_wrap">
                                <div class="c-label_wrap">
                                    <div>NOTO</div>
                                </div>
                                <div class="c-wrap_center">
                                    <div class="c-norm_leftwrap c-expert_left"><img
                                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63627b928f29da8723d044c0_Group%201733.svg"
                                            loading="lazy" alt="" class="c-expert_img" /></div>
                                    <div class="c-norm_rightwrap">
                                        <h2 class="c-expert_head" data-ix="scroll">Deeper Company Analysis</h2>
                                        <p class="c-expert_par" data-ix="scroll">Evaluating an industry-leading 326
                                            factors per stock, 3AIâs Deep Factor AI unlocks Alpha through a deeper
                                            understanding of companies than ever before. Compared to typical factor
                                            investing strategies, which only use a limited number of factors, it is
                                            evident that the capability to use a much more sophisticated factor
                                            framework, encompassing a far wider array of datasets, results in a superior
                                            ability to assess stocks.</p>
                                    </div>
                                </div>
                            </div><img
                                src="https://assets-global.website-files.com/63626e889c000076d7e390a0/6363d9b5a4a5f37ffcf4c463_Arrow%203.svg"
                                loading="lazy" alt="" class="c-expert_arrow" />
                        </div>
                    </div>
                    <div class="c-scroll_item">
                        <div class="c-con c-expert">
                            <div class="c-expert_wrap">
                                <div class="c-label_wrap cc-mobilehide">
                                    <div>01_ Â  OUR EXPERTISE</div>
                                </div>
                                <div class="c-wrap_center">
                                    <div class="c-norm_leftwrap c-expert_left"><img
                                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63627b927ef11b70a7b76a38_Group%201729.svg"
                                            loading="lazy" alt="" class="c-expert_img" /></div>
                                    <div class="c-norm_rightwrap">
                                        <h2 class="c-expert_head">A Pioneer in Explainable AI</h2>
                                        <p class="c-expert_par">With so much <span class="text-span">data now
                                                accessible</span>, itâs simply impossible for an investor to
                                            incorporate all of this information into their evaluation of a stock. 3AI
                                            does exactly this at market-leading scale. Our Explainable AI provides Alpha
                                            predictions for over 20,000 listed stocks, together with stock-specific
                                            insights and sensitivities across 326 factors. Instantly making sense of the
                                            vast amount of data now available, this new form of Explainable AI is the
                                            future for empowering investors and unlocking Alpha.</p>
                                    </div>
                                </div>
                            </div><img
                                src="https://assets-global.website-files.com/63626e889c000076d7e390a0/6363d9b5a4a5f37ffcf4c463_Arrow%203.svg"
                                loading="lazy" alt="" class="c-expert_arrow" />
                        </div>
                    </div>
                    <div class="c-scroll_item">
                        <div class="c-con c-expert">
                            <div class="c-expert_wrap">
                                <div class="c-label_wrap cc-mobilehide">
                                    <div>01_ Â  OUR EXPERTISE</div>
                                </div>
                                <div class="c-wrap_center">
                                    <div class="c-norm_leftwrap c-expert_left"><img
                                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/6362caaad6bed351ae8fa9d0_Group%201732.svg"
                                            loading="lazy" alt="" class="c-expert_img" /></div>
                                    <div class="c-norm_rightwrap">
                                        <h2 class="c-expert_head">Experts in using AI for Alpha</h2>
                                        <p class="c-expert_par">The 3AI team has extensive experience across machine
                                            learning, quantitative investments, and genuine Alpha discovery. Having run
                                            AI-powered investment strategies that outperformed the hedge fund industry,
                                            traded for banks, and produced award-winning investment AI for an insurer,
                                            the team witnessed how a lack of depth in factor analysis impacts results,
                                            and saw an opportunity to bring a <span class="text-span">truly reliable
                                                Alpha solution</span>, using machine learning, for deeper investment
                                            analysis.</p><a href="/product-insights"
                                            class="btn c-expert_btn w-button">DISCOVER INSIGHTS</a>
                                    </div>
                                </div>
                            </div><img
                                src="https://assets-global.website-files.com/63626e889c000076d7e390a0/6363da62a5c2b54e9a25a45a_Arrow%203%20(1).svg"
                                loading="lazy" alt="" class="c-expert_arrow cc-last" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tech" data-w-id="fa486680-ec20-4374-7fe8-31d37a72ec6c" class="c-norm c-tech theme-dark">
            <div class="c-tech_content">
                <div class="c-con c-tech_con">
                    <div class="c-label_wrap cc-tech">
                        <div>01_ Â  OUR EXPERTISE</div>
                    </div>
                    <div class="c-tech_wrap cc-mobile">
                        <div class="c-norm_leftwrap c-tech_left">
                            <h2 class="c-tech_head">Our Technology</h2>
                            <div class="c-techimg_wrap"><img
                                    src="https://assets-global.website-files.com/63626e889c000076d7e390a0/636ab7f2e95bb8ef4a5eaa53_Group%201753.svg"
                                    loading="lazy" data-w-id="0899d981-49c2-2735-e276-14e3e835f55d" alt=""
                                    class="c-tech_img" /><img
                                    src="https://assets-global.website-files.com/63626e889c000076d7e390a0/636ab6a68c667007fd021773_Group%201751.svg"
                                    loading="lazy" data-w-id="0899d981-49c2-2735-e276-14e3e835f55e" alt=""
                                    class="c-tech_img" /><img
                                    src="https://assets-global.website-files.com/63626e889c000076d7e390a0/636ab6a461e0e41b8afc756b_Group%201752.svg"
                                    loading="lazy" data-w-id="0899d981-49c2-2735-e276-14e3e835f55f" alt=""
                                    class="c-tech_img" /></div>
                        </div>
                        <div class="c-norm_rightwrap c-tech_right">
                            <div data-w-id="0899d981-49c2-2735-e276-14e3e835f561" class="c-tech_div">
                                <div class="c-tech_subhead">DATA SOURCES</div>
                                <div class="c-tech_list">
                                    <div class="c-list_txt">1. Financial & Economic Data</div>
                                    <div class="c-list_txt">2. News & Social Media</div>
                                    <div class="c-list_txt">3. Equity Research Analyst Estimates</div>
                                </div>
                            </div>
                            <div data-w-id="0899d981-49c2-2735-e276-14e3e835f56b" class="c-tech_div">
                                <div class="c-tech_subhead">DEEP FACTORS</div>
                                <div class="c-tech_list">
                                    <div class="c-list_txt">4. Data Transformation for Machine Learning</div>
                                    <div class="c-list_txt">5. Financial Engineering for Deep Factors</div>
                                    <div class="c-list_txt">6. Imputation for Missing Data</div>
                                </div>
                            </div>
                            <div data-w-id="0899d981-49c2-2735-e276-14e3e835f575" class="c-tech_div">
                                <div class="c-tech_subhead">EXPLAINABLE AI</div>
                                <div class="c-tech_list">
                                    <div class="c-list_txt">7. Deep Factor AI</div>
                                    <div class="c-list_txt">8. AI Explainability</div>
                                    <div class="c-list_txt">9. Explainable Smart Alpha</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-tech_wrap">
                        <div class="c-norm_leftwrap c-tech_left">
                            <h2 class="c-tech_head">Our Technology</h2>
                            <div class="c-techimg_wrap"><img
                                    src="https://assets-global.website-files.com/63626e889c000076d7e390a0/636443f21bb9fb30d2eee279_Group%201744.svg"
                                    loading="lazy" data-w-id="e71f1ea7-1f75-4783-4237-32707baa1fab" alt=""
                                    class="c-tech_img" /><img
                                    src="https://assets-global.website-files.com/63626e889c000076d7e390a0/636443f510f64aa5c8e22114_Group%201746.svg"
                                    loading="lazy" data-w-id="a6300ada-270c-e7a6-7e37-d3e28bbfdee1" alt=""
                                    class="c-tech_img" /><img
                                    src="https://assets-global.website-files.com/63626e889c000076d7e390a0/636443f728ab4cd49e697380_Group%201748.svg"
                                    loading="lazy" data-w-id="7bd48ce3-c50a-3f17-096f-7220294d087e" alt=""
                                    class="c-tech_img" /></div>
                        </div>
                        <div class="c-norm_rightwrap c-tech_right">
                            <div data-w-id="0abc1726-a021-e151-25d0-4371e69e0af0" class="c-tech_div">
                                <div class="c-tech_subhead">DATA SOURCES</div>
                                <div class="c-tech_list">
                                    <div class="c-list_txt">1. Financial & Economic Data</div>
                                    <div class="c-list_txt">2. News & Social Media</div>
                                    <div class="c-list_txt">3. Equity Research Analyst Estimates</div>
                                </div>
                            </div>
                            <div data-w-id="4089de31-6804-ad13-388c-b0305c7c4095" class="c-tech_div">
                                <div class="c-tech_subhead">DEEP FACTORS</div>
                                <div class="c-tech_list">
                                    <div class="c-list_txt">4. Data Transformation for Machine Learning</div>
                                    <div class="c-list_txt">5. Financial Engineering for Deep Factors</div>
                                    <div class="c-list_txt">6. Imputation for Missing Data</div>
                                </div>
                            </div>
                            <div data-w-id="bd60adc3-1fdf-537b-a15f-b4c19b8de543" class="c-tech_div">
                                <div class="c-tech_subhead">EXPLAINABLE AI</div>
                                <div class="c-tech_list">
                                    <div class="c-list_txt">7. Deep Factor AI</div>
                                    <div class="c-list_txt">8. AI Explainability</div>
                                    <div class="c-list_txt">9. Explainable Smart Alpha</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-norm c-box theme-white">
        <div class="c-con c-box_con">
            <div class="divider cc-mobilehide"></div>
            <div class="c-box_wrap" data-ix="scroll">
                <h2 class="c-box_head">View our EXPLAINER VIDEOs</h2>
                <p class="c-box_par">Check out our resources section, to find out more about what we do and who we are.
                </p><a href="/resources" class="btn c-box_btn w-button">VIEW MORE</a>
            </div>
            <div class="divider"></div>
        </div>
    </div>

    <div class="c-norm c-award theme-white">
        <div class="c-con c-award_con">
            <div class="c-heading_wrap cc-white">
                <div class="typed-words"></div>
            </div>
            <div class="c-award_wrap">
                <div class="c-norm_leftwrap c-award_left">
                    <div class="c-award_item cc-1" data-ix="scroll">
                        <div class="c-category_div">
                            <div>Award win</div>
                        </div><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63627b928f29da5febd044bf_Icon%20Awards.svg"
                            loading="lazy" alt="" class="c-item_icon" />
                        <h3 class="c-item_head">Leading Innovator in Financial AI Technology 2022</h3>
                        <p class="c-item_par">3AI is proud to have just been recognised as the âLeading Innovator in
                            Financial AI Technology at this yearâs UK Enterprise Awards for its AI-driven Smart Alpha
                            index and analytics solutions for investors.</p>
                    </div>
                    <div class="c-award_item" data-ix="scroll">
                        <div class="c-category_div">
                            <div>3AI insight</div>
                        </div><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63627b92a10365ce3b437d69_Icon%20Insights.svg"
                            loading="lazy" alt="" class="c-item_icon" />
                        <h3 class="c-item_head">Benefits of deep factor AI in a bear market</h3>
                        <p class="c-item_par"><a
                                href="https://3ai.webflow.io/resources/3ai-explains-the-benefits-of-using-deep-factor-ai-powered-solutions-in-a-bear-market."
                                target="_blank" class="link">3AI explains how its Smart Alpha Insights and Indices help
                                unlock alpha, even in the toughest of market environments.</a> </p>
                    </div>
                </div>
                <div class="c-norm_leftwrap c-award_right">
                    <div class="c-award_item" data-ix="scroll">
                        <div class="c-category_div">
                            <div>Latest news</div>
                        </div><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63627b92138b7c9a3dbb43d8_Icon%20Research.svg"
                            loading="lazy" alt="" class="c-item_icon" />
                        <h3 class="c-item_head">3AI speaking at the Harvard Belfer Center</h3>
                        <p href="" class="c-item_par"><a
                                href="https://3ai.webflow.io/resources/open-source-intelligence-for-national-security-the-art-of-the-possible"
                                class="c-awarditem_link">Hear 3AI speak at the the Harvard Belfer Center event on Open
                                Source Intelligence for National Security</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="white-bg">
        <div class="c-norm c-partners theme-dark">
            <div class="c-con c-award_con">
                <div class="c-heading_wrap cc-white">
                    <div class="c-type_wrap">
                        <div class="typed-words_partners"></div>
                    </div>
                </div>
                <div class="c-partners_wrap" data-ix="scroll">
                    <div class="c-wrap_row"><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/6384cdefecb37be1828dd139_NVIDIA_Inception_Program_Logo_for%203AI%20website.png"
                            loading="lazy" alt="" class="c-partners_img" /><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/6389a4d8d4bb68819f2076de_OracleOCI.png"
                            loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 23vw, 100vw"
                            srcset="https://assets-global.website-files.com/63626e889c000076d7e390a0/6389a4d8d4bb68819f2076de_OracleOCI-p-500.png 500w, https://assets-global.website-files.com/63626e889c000076d7e390a0/6389a4d8d4bb68819f2076de_OracleOCI.png 800w"
                            alt="" class="c-partners_img" /><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/638f83a14b91283c265521aa_Eagle_Alpha_Logo-1.jpeg"
                            loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 23vw, 100vw"
                            srcset="https://assets-global.website-files.com/63626e889c000076d7e390a0/638f83a14b91283c265521aa_Eagle_Alpha_Logo-1-p-500.jpeg 500w, https://assets-global.website-files.com/63626e889c000076d7e390a0/638f83a14b91283c265521aa_Eagle_Alpha_Logo-1-p-800.jpeg 800w, https://assets-global.website-files.com/63626e889c000076d7e390a0/638f83a14b91283c265521aa_Eagle_Alpha_Logo-1-p-1080.jpeg 1080w, https://assets-global.website-files.com/63626e889c000076d7e390a0/638f83a14b91283c265521aa_Eagle_Alpha_Logo-1.jpeg 1127w"
                            alt="" class="c-partners_img" /><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/6384d072e3f1d003ed6e8628_AWS_for%203AI%20website%20200wide%20x.jpg"
                            loading="lazy" alt="" class="c-partners_img" /><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/6384d20ef44560136d555203_Microsoft-Azure-Logo.png"
                            loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 23vw, 100vw"
                            srcset="https://assets-global.website-files.com/63626e889c000076d7e390a0/6384d20ef44560136d555203_Microsoft-Azure-Logo-p-500.png 500w, https://assets-global.website-files.com/63626e889c000076d7e390a0/6384d20ef44560136d555203_Microsoft-Azure-Logo-p-800.png 800w, https://assets-global.website-files.com/63626e889c000076d7e390a0/6384d20ef44560136d555203_Microsoft-Azure-Logo.png 3840w"
                            alt="" class="c-partners_img" /><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63871ba5125a37c3a6308f9e_UCL%20AI.jpg"
                            loading="lazy" alt="" class="c-partners_img" /></div>
                    <div class="c-wrap_row"><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63871be91a90b321ea92adb1_publication-default-med.jpg"
                            loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 23vw, 100vw"
                            srcset="https://assets-global.website-files.com/63626e889c000076d7e390a0/63871be91a90b321ea92adb1_publication-default-med-p-500.jpg 500w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871be91a90b321ea92adb1_publication-default-med.jpg 727w"
                            alt="" class="c-partners_img" /><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63871c23e63d3e0c548aa40d_NatwestaccelPic.webp"
                            loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 23vw, 100vw"
                            srcset="https://assets-global.website-files.com/63626e889c000076d7e390a0/63871c23e63d3e0c548aa40d_NatwestaccelPic-p-500.webp 500w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871c23e63d3e0c548aa40d_NatwestaccelPic-p-800.webp 800w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871c23e63d3e0c548aa40d_NatwestaccelPic-p-1080.webp 1080w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871c23e63d3e0c548aa40d_NatwestaccelPic.webp 1388w"
                            alt="" class="c-partners_img" /><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/6384ccd784f6bb6573147eba_i3gg6tvgic93yb4t1726.webp"
                            loading="lazy" alt="" class="c-partners_img" /><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63871cbd125a37b961316822_Logo-Solactive-%C2%A9-1.jpg"
                            loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 23vw, 100vw"
                            srcset="https://assets-global.website-files.com/63626e889c000076d7e390a0/63871cbd125a37b961316822_Logo-Solactive-%C2%A9-1-p-500.jpg 500w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871cbd125a37b961316822_Logo-Solactive-%C2%A9-1-p-800.jpg 800w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871cbd125a37b961316822_Logo-Solactive-%C2%A9-1-p-1080.jpg 1080w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871cbd125a37b961316822_Logo-Solactive-%C2%A9-1.jpg 1200w"
                            alt="" class="c-partners_img" /><img
                            src="https://assets-global.website-files.com/63626e889c000076d7e390a0/63871ccb83fff247e8b00389_neudata.png"
                            loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 23vw, 100vw"
                            srcset="https://assets-global.website-files.com/63626e889c000076d7e390a0/63871ccb83fff247e8b00389_neudata-p-500.png 500w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871ccb83fff247e8b00389_neudata-p-800.png 800w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871ccb83fff247e8b00389_neudata-p-1080.png 1080w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871ccb83fff247e8b00389_neudata-p-1600.png 1600w, https://assets-global.website-files.com/63626e889c000076d7e390a0/63871ccb83fff247e8b00389_neudata.png 2359w"
                            alt="" class="c-partners_img" /></div>
                </div>
            </div>
        </div>
        <div class="c-norm c-cta theme-dark">
            <div class="c-con c-box_con">
                <div class="c-cta_wrap" data-ix="scroll">
                    <h2 class="c-box_head">Optimize Your Investments</h2>
                    <p class="c-box_par">Discover how to increase Alpha, enhancing effective investment decision-making,
                        using 3AI technology.</p><a href="/contact" class="btn c-box_btn w-button">GET IN TOUCH</a>
                </div>
            </div>
        </div>
    </div>

    <div class="cookie-bar">
        <div fs-cc="banner" class="fs-cc-banner_component">
            <div class="fs-cc-banner_container">
                <div class="fs-cc-banner_text">By clicking <strong>âAccept All Cookiesâ</strong>, you agree to the
                    storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our
                    marketing efforts. View our <a href="/privacy-policy" class="fs-cc-banner_text-link">Privacy
                        Policy</a> for more information.</div>
                <div class="fs-cc-banner_buttons-wrapper"><a fs-cc="open-preferences" href="#"
                        class="fs-cc-banner_text-link">Preferences</a><a fs-cc="deny" href="#"
                        class="fs-cc-banner_button fs-cc-button-alt w-button">Deny</a><a fs-cc="allow" href="#"
                        class="fs-cc-banner_button w-button">Accept</a>
                    <div fs-cc="close" class="fs-cc-banner_close">
                        <div class="fs-cc-banner_close-icon w-embed"><svg fill="currentColor" aria-hidden="true"
                                focusable="false" viewBox="0 0 16 16">
                                <path
                                    d="M9.414 8l4.293-4.293-1.414-1.414L8 6.586 3.707 2.293 2.293 3.707 6.586 8l-4.293 4.293 1.414 1.414L8 9.414l4.293 4.293 1.414-1.414L9.414 8z">
                                </path>
                            </svg></div>
                    </div>
                </div>
            </div>
            <div fs-cc="interaction" class="fs-cc-banner_trigger"></div>
        </div>
        <div fs-cc-scroll="disable" fs-cc="preferences" class="fs-cc-prefs_component w-form">
            <form id="cookie-preferences" name="wf-form-Cookie-Preferences" data-name="Cookie Preferences" method="get"
                class="fs-cc-prefs_form" data-wf-page-id="637ff64ff4e78619c83aab92"
                data-wf-element-id="dac5fcc9-ff38-3b90-7e45-6281df02a36c">
                <div fs-cc="close" class="fs-cc-prefs_close">
                    <div class="fs-cc-prefs_close-icon w-embed"><svg fill="currentColor" aria-hidden="true"
                            focusable="false" viewBox="0 0 16 24">
                            <path
                                d="M9.414 8l4.293-4.293-1.414-1.414L8 6.586 3.707 2.293 2.293 3.707 6.586 8l-4.293 4.293 1.414 1.414L8 9.414l4.293 4.293 1.414-1.414L9.414 8z">
                            </path>
                        </svg></div>
                </div>
                <div class="fs-cc-prefs_content">
                    <div class="fs-cc-prefs_space-small">
                        <div class="fs-cc-prefs_title">Privacy Preference Center</div>
                    </div>
                    <div class="fs-cc-prefs_space-small">
                        <div class="fs-cc-prefs_text">When you visit websites, they may store or retrieve data in your
                            browser. This storage is often necessary for the basic functionality of the website. The
                            storage may be used for marketing, analytics, and personalization of the site, such as
                            storing your preferences. Privacy is important to us, so you have the option of disabling
                            certain types of storage that may not be necessary for the basic functioning of the website.
                            Blocking categories may impact your experience on the website.</div>
                    </div>
                    <div class="fs-cc-prefs_space-medium"><a fs-cc="deny" href="#"
                            class="fs-cc-prefs_button fs-cc-button-alt w-button">Reject all cookies</a><a fs-cc="allow"
                            href="#" class="fs-cc-prefs_button w-button">Allow all cookies</a></div>
                    <div class="fs-cc-prefs_space-small">
                        <div class="fs-cc-prefs_title">Manage Consent Preferences by Category</div>
                    </div>
                    <div class="fs-cc-prefs_option">
                        <div class="fs-cc-prefs_toggle-wrapper">
                            <div class="fs-cc-prefs_label">Essential</div>
                            <div class="fs-cc-prefs_text"><strong>Always Active</strong></div>
                        </div>
                        <div class="fs-cc-prefs_text">These items are required to enable basic website functionality.
                        </div>
                    </div>
                    <div class="fs-cc-prefs_option">
                        <div class="fs-cc-prefs_toggle-wrapper">
                            <div class="fs-cc-prefs_label">Marketing</div><label
                                class="w-checkbox fs-cc-prefs_checkbox-field"><input type="checkbox" id="marketing-2"
                                    name="marketing-2" data-name="Marketing 2" fs-cc-checkbox="marketing"
                                    class="w-checkbox-input fs-cc-prefs_checkbox" /><span for="marketing-2"
                                    class="fs-cc-prefs_checkbox-label w-form-label">Essential</span>
                                <div class="fs-cc-prefs_toggle"></div>
                            </label>
                        </div>
                        <div class="fs-cc-prefs_text">These items are used to deliver advertising that is more relevant
                            to you and your interests. They may also be used to limit the number of times you see an
                            advertisement and measure the effectiveness of advertising campaigns. Advertising networks
                            usually place them with the website operatorâs permission.</div>
                    </div>
                    <div class="fs-cc-prefs_option">
                        <div class="fs-cc-prefs_toggle-wrapper">
                            <div class="fs-cc-prefs_label">Personalization</div><label
                                class="w-checkbox fs-cc-prefs_checkbox-field"><input type="checkbox"
                                    id="personalization-2" name="personalization-2" data-name="Personalization 2"
                                    fs-cc-checkbox="personalization"
                                    class="w-checkbox-input fs-cc-prefs_checkbox" /><span for="personalization-2"
                                    class="fs-cc-prefs_checkbox-label w-form-label">Essential</span>
                                <div class="fs-cc-prefs_toggle"></div>
                            </label>
                        </div>
                        <div class="fs-cc-prefs_text">These items allow the website to remember choices you make (such
                            as your user name, language, or the region you are in) and provide enhanced, more personal
                            features. For example, a website may provide you with local weather reports or traffic news
                            by storing data about your current location.</div>
                    </div>
                    <div class="fs-cc-prefs_option">
                        <div class="fs-cc-prefs_toggle-wrapper">
                            <div class="fs-cc-prefs_label">Analytics</div><label
                                class="w-checkbox fs-cc-prefs_checkbox-field"><input type="checkbox" id="analytics-2"
                                    name="analytics-2" data-name="Analytics 2" fs-cc-checkbox="analytics"
                                    class="w-checkbox-input fs-cc-prefs_checkbox" /><span for="analytics-2"
                                    class="fs-cc-prefs_checkbox-label w-form-label">Essential</span>
                                <div class="fs-cc-prefs_toggle"></div>
                            </label>
                        </div>
                        <div class="fs-cc-prefs_text">These items help the website operator understand how its website
                            performs, how visitors interact with the site, and whether there may be technical issues.
                            This storage type usually doesnât collect information that identifies a visitor.</div>
                    </div>
                    <div class="fs-cc-prefs_buttons-wrapper"><a fs-cc="submit" href="#"
                            class="fs-cc-prefs_button w-button">Confirm my preferences and close</a></div><input
                        type="submit" data-wait="Please wait..." class="fs-cc-prefs_submit-hide w-button"
                        value="Submit" />
                    <div class="w-embed">
                        <style>
                            /* smooth scrolling on iOS devices */
                            .fs-cc-prefs_content {
                                -webkit-overflow-scrolling: touch
                            }
                        </style>
                    </div>
                </div>
            </form>
            <div class="w-form-done"></div>
            <div class="w-form-fail"></div>
            <div fs-cc="close" class="fs-cc-prefs_overlay"></div>
            <div fs-cc="interaction" class="fs-cc-prefs_trigger"></div>
        </div>
    </div>

{%endblock%}